p {
    color: red;
    background: black;
    font-size: 80px;
}

h1 {
    margin: 10px 20px;
    padding: 30px 50px;
    border: 10px solid blue;
    border-radius: 20px;
}

li {
    font-weight: bold;
    font-family: cursive;
}

.highlighted {
    border: 5px solid red;
}